<footer class="footer footer-content">
    <hr>
  <div class="container ">
    <div class="row">
      <div class="col-5 offset-1 col-sm-2 col-xs-6">
        <h4 style="color:#9d9d9d">Links</h4>
        <ul class="list-unstyled">
          <li><a href="/home">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-6 col-sm-5 col-xs-6">
        <h4 style="color:#9d9d9d">Our Address</h4>
        <address style="color: white">
          Block-34, Lovely Professional University<br>
          Phagwara, Punjab<br>
          India 144411<br> 
          <i class=""></i>Phone:<a href="telto:+91-98765XXXXX"> +91-98765XXXXX</a><br>
          <i class=""></i>Fax:<a href="telto:+91-98765XXXXX"> +91-98765XXXXX</a><br>
          <i class=""></i>Email: <a href="mailto:e-prep@lpu.co.in">hms@lpu.co.in</a>
        </address>
      </div>
      <div class="col-sm align-self-center">
          <div style="text-align:center">
              <a href="#" class="fa fa-facebook" style="font-size: 30px;"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
					</div>
				</div>
    </div>
    <div class="row justify-content-center">
				<div class="col-auto">
					<p style="color: #fff">  © Copyright 2020 Hospital Management System | ® All rights Reserved 2020-21 </p>
				</div>
		</div>
  </div>
</footer>
</body>
</html>