<%- include ('partials/header') -%>
        <div class="container">
            <table class="table table-bordered table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" class="a0"> <h1 id="presc"> Generate Salary</h1></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                    <tr>
                        <th>
                            Designation:
                        </th>
                            <td>
                                
                                    <select class="custom-select" id="inputGroupSelect04">
                                    <option selected>Designation</option>
                                      <option>Staff</option>
                                      <option value="1">Reception Staff </option>
                                      <option value="2">Doctor</option>
                                      <option value="3">Lab Incharge</option>
                                    </select>
                                
                            </td>
                    </tr>
                    <tr>
                        <th>
                            Month:
                        </th>
                        <td>
                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>Month</option>
                                  <option value="1">January</option>
                                  <option value="2">February</option>
                                  <option value="3">March</option>
                                  <option value="3">April</option>
                                  <option value="3">May</option>
                                  <option value="3">June</option>
                                  <option value="3">July</option>
                                  <option value="3">August</option>
                                  <option value="3">September</option>
                                  <option value="3">October</option>
                                  <option value="3">November</option>
                                  <option value="3">December</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Year:
                        </th>
                        <td>
                            <div class="input-group">
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>Year</option>
                                  <option value="1">2019</option>
                                  <option value="2">2020</option>
                                  <option value="3">2021</option>
                                  <option value="3">2022</option>
                                  <option value="3">2023</option>
                                  <option value="3">2024</option>
                                  <option value="3">2025</option>
                                  <option value="3">2026</option>
                                  <option value="3">2027</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            ID:
                        </th>
                        <td>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Salary:
                        </th>
                        <td>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="salary">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-info waves-effect btn0">SUBMIT</button>
                        </td>
                    </tr>
                    

              </table>
        </div>
<%- include ('partials/footer') -%>