<%- include ('partials/header') -%>
  <div class="container">
    <div class="row row1">
      <div class="col-md-6 col-sm-6 def">
        <a href="#"><div class="card" style="width: 23rem;">
          <img class="card-img-top" src="images/upcoming_tests.png" alt="Card image cap">
        </div></a>
      </div>
      <div class="col-md-6 col-sm-6 def">
        <a href="LabUploadTests"><div class="card" style="width: 23rem;">
          <img class="card-img-top" src="images/test_reports.png" alt="Card image cap">
        </div></a>
      </div>
    </div>
<div class="aroom">
 <h3 class="hi">Upcoming Labtests</h3>
</div>
    <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Treatment Id</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Patient Id</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="a0"> <h1 id="labtest"> LAB TEST: </h1></th>
                            <th scope="col">
                                
                                  <form>
                                    <div class="form-group">
                                     <label>Date:</label>   <input type="date" disabled class="form-control" id="date">
                                    </div>
                                  </form>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                    <td>Treatment ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Doctor ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Patient ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>TESTS RECOMMENDED</h3>
                
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Serial No.</th>
                            <th scope="col">Test Name</th>
                          </tr>
                        </thead>
                        <tbody class="tbody1">
                          <tr>
                            <th class="count" scope="row">1</th>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" class="a2">
                                    </div>
                                </form>
                            </td>
                          </tr>
                        </tbody>
                          <tr>
                            <td>
                                COMMENTS
                            </td>
                            <td>
        
                              <form>
                                  <div class="form-group">
                                      <textarea class="form-control" disabled id="textarea"></textarea>
                                  </div>
                              </form>
                            </td>
                        </tr>
                        
                      </table>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
      </div>
    </div>
            </td>
          </tr>
          <tr>
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="a0"> <h1 id="labtest"> LAB TEST: </h1></th>
                            <th scope="col">
                                
                                  <form>
                                    <div class="form-group">
                                     <label>Date:</label>   <input type="date" disabled class="form-control" id="date">
                                    </div>
                                  </form>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                    <td>Treatment ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Doctor ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Patient ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>TESTS RECOMMENDED</h3>
                
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Serial No.</th>
                            <th scope="col">Test Name</th>
                          </tr>
                        </thead>
                        <tbody class="tbody1">
                          <tr>
                            <th class="count" scope="row">1</th>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" class="a2">
                                    </div>
                                </form>
                            </td>
                          </tr>
                        </tbody>
                          <tr>
                            <td>
                                COMMENTS
                            </td>
                            <td>
        
                              <form>
                                  <div class="form-group">
                                      <textarea class="form-control" disabled id="textarea"></textarea>
                                  </div>
                              </form>
                            </td>
                        </tr>
                        
                      </table>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
      </div>
    </div>
            </td>
          </tr>
          <tr>
            <td scope="row">1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="a0"> <h1 id="labtest"> LAB TEST: </h1></th>
                            <th scope="col">
                                
                                  <form>
                                    <div class="form-group">
                                     <label>Date:</label>   <input type="date" disabled class="form-control" id="date">
                                    </div>
                                  </form>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                    <td>Treatment ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Doctor ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                            <tr>
                                <td>Patient ID</td>
                                    <td>
                                        <form>
                                            <div class="form-group">
                                                <input type="text" disabled class="form-control" class="a1">
                                            </div>
                                          </form>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>TESTS RECOMMENDED</h3>
                
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Serial No.</th>
                            <th scope="col">Test Name</th>
                          </tr>
                        </thead>
                        <tbody class="tbody1">
                          <tr>
                            <th class="count" scope="row">1</th>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" disabled class="form-control" class="a2">
                                    </div>
                                </form>
                            </td>
                          </tr>
                        </tbody>
                          <tr>
                            <td>
                                COMMENTS
                            </td>
                            <td>
        
                              <form>
                                  <div class="form-group">
                                      <textarea class="form-control" disabled id="textarea"></textarea>
                                  </div>
                              </form>
                            </td>
                        </tr>
                        
                      </table>

                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>
      </div>
    </div>
            </td>
          </tr>
          </tbody>
        </table>
</div>
<%- include ('partials/footer') -%>

