<%- include ('partials/header') -%>
    <div class="container">
            <div class='row'>
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th colspan="4" scope="col" class="a0"> <h1 id="presc"> Duties Alloted:</h1></th>
                
            </tr>
            </thead>
        </div>
        <div class="row">
            <tbody>
                <tr>
                    <th scope="col">Serial No.</th>
                    <th scope="col">Staff ID</th>
                    <th scope="col">Ward Alloted</th>
                    <th scope="col">Time of duty</th>
                </tr>
                  <tr>
                   <td> 1</td>
                   <td>91952</td>
                   <td>Room- 101</td>
                   <td>9:30AM-9:00PM</td>
                  </tr>
                  <tr>
                    <td> 2</td>
                    <td>94321</td>
                    <td>Room- 102</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 3</td>
                    <td>93276</td>
                    <td>Room- 103</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 4</td>
                    <td>98270</td>
                    <td>Room- 104</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
                   <tr>
                    <td> 5</td>
                    <td>98831</td>
                    <td>Room- 105</td>
                    <td>9:30AM-9:00PM</td>
                   </tr>
            </tbody>
            </table>
        </div>
    </div>
<%- include ('partials/footer') -%>