<%- include ('partials/header') -%>
        <div class="container">
            <table class="table table1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="a0"> <h1 id="assign"> Book an appointment </h1></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-hover table-striped table2">
                <tbody>
                    <tr>
                        <th scope="col">Doctor Name :</th>
                        <td>
                            <form>
                                <div class="form-group">
                                     <input type="text" class="form-control" id="docname">
                                </div>
                              </form>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Doctor ID :</th>
                        <td>
                            <form>
                                <div class="form-group">
                                     <input type="text" class="form-control" id="docid">
                                </div>
                              </form>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Date :</th>
                        <td>
                            <form>
                                <div class="form-group">
                                     <input type="date" class="form-control" id="date">
                                </div>
                              </form>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Time Slot :</th>
                        <td>
                            <form>
                                <div class="form-group">
                                     <input type="time" class="form-control" id="time">
                                </div>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                          <button type="button" class="btn btn-outline-info waves-effect btn0">SUBMIT</button>
                        </td>
                    </tr>

                </tbody>

              </table>
        </div>
<%- include ('partials/footer') -%>