<%- include ('partials/header') -%>
        <div class="container">
            <table class="table table1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="a0"> <h1 id="treat"> View Treatment </h1></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-striped table-hover table2">
                <tbody>
                    <tr>
                    <th scope="col">Treatment ID</th>
                    <th scope="col">Doctor Name</th>
                    <th scope="col">Chief Complaints</th>
                    <th scope="col">Bill Amount</th>
                    </tr>
                    <tr>
                        <td rowspan="3">10025</td>
                        <td>Dr. Prakash Sharma</td>
                        <td rowspan="3">Headache</td>
                        <td rowspan="3">Rs. 52450</td>
                    </tr>
                    <tr>
                        <td rowspan="3">10043</td>
                        <td>Dr. Vinay Bhardwaj</td>
                        <td rowspan="3">Vomiting</td>
                        <td rowspan="3">Rs. 7640</td>
                    </tr>
                </tbody>

              </table>
        </div>
<%- include ('partials/footer') -%>