<%- include ('partials/header') -%>
        <div class="container">
            <table class="table table1">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="a0"> <h1 id="reports"> Lab Reports </h1></th>
                    </tr>
                </thead>
            </table>
            <table class="table table-bordered table-hover table-striped table2">
                <tbody>
                    <tr>
                        <th scope="col">Treatment ID:</th>
                        <td>
                            <form>
                                <div class="form-group">
                                     <input type="text" class="form-control" id="treatID">
                                </div>
                              </form>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                          <button type="button" class="btn btn-outline-info waves-effect btn0">SUBMIT</button>
                        </td>
                    </tr>
                    
                </tbody>

              </table>
              <img src="images/report.jpg" class="img-report" style="display: none;">
        </div>
<%- include ('partials/footer') -%>